* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.container {
    width: 1152px;
    margin: 0 auto;
}
.title {
    color: #222;
    font-size: 3.43em;
}
.caption {
    color: #555;
    font-size: 16px;
    line-height: 155%; /* 24.8px */
}
.text-center {
    text-align: center;
}
